networks:
- config:
    ipv4.address: auto
    ipv6.address: auto
  description: ""
  managed: false
  name: lxdbr0
  type: ""
storage_pools:
- config:
    size: {{ storage_pools_size }}
  description: ""
  name: default
  driver: zfs
profiles:
- config: {}
  description: ""
  devices:
    {{ ansible_default_ipv4.interface }}:
      name: {{ ansible_default_ipv4.interface }}
      nictype: bridged
      parent: lxdbr0
      type: nic
    root:
      path: /
      pool: default
      type: disk
  name: default
cluster: null
